@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

@layer components {
  .active {
    @apply font-bold text-purple-500 underline underline-offset-8 decoration-violet-900
    transition-all duration-150 ease-in-out;
  }
  .passive {
    @apply font-semibold text-slate-300 transition-all duration-150 ease-in-out hover:text-purple-300;
  }
}
